body
{
    background-color: aquamarine;
    transition:background-color 5s ease-in-out 2s;
}
body:hover
{
   transform:translateY(10px);
}
img:hover
{
    transform:rotate(-60deg);
    transform:skew(20deg);
  
}