.container
{
    display:flex;
    background-color:grey;
     flex-direction:column;

}
.box
{
    width:100px;
    height:100px;
    background-color:black;
    color:white;
    text-align:center;
    margin:10px;
    line-height:100px;
  
}